<div class="center jumbotron">
  <h1 class="welcome-title">Voody</h1>
	<h2 class="search-text">Vegan and vegetarian recipe app</h2>

	<%= form_tag(recipes_path, method: :get) do %>
		<%= text_field_tag :name, params[:name], class: "form-control front-page" %>
  	<%= submit_tag 'Search', name: nil, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>

		<% if @recipes.any? %>
			<ul id="recipes">
				<% @recipes.each do |recipe| %>
					<li class="col-md-4" id="recipe-<%= recipe.id %>">
				  	<span class="name"><%= link_to recipe.name, recipe %></span>
				  	<span class="picture">
							<%= link_to(image_tag(recipe.picture.url), recipe) if recipe.picture? %>
				  	</span>
					</li>
					<% end %>
			</ul>
		<% end %>
